<div class="p-mb-3 p-text-center p-text-bold">BIENVENIDOS <img style="max-width: 80px;" src='../../assets/logo1.png'>
</div>

<div class="container" >
  <div class="p-grid p-ai-center vertical-container">

    <div class="p-col">
      <div class="box">
        <div class="p-grid p-ai-center vertical-container">
          <div class="p-col-6 p-offset-3">
            <div class="box" style="border-style: ridge;">
              <div class="p-fluid" style="padding: 3%;">
                <div class="p-field p-grid">
                  <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Usuario</label>
                  <div class="p-col-12 p-md-10">
                    <input id="firstname" type="text" pInputText [(ngModel)]="username">
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Contraseña</label>
                  <div class="p-col-12 p-md-10">
                    <input id="lastname" type="password" pInputText [(ngModel)]="password">
                  </div>
                </div>
                <div class="p-field p-grid">

                  <div class="p-col-12 p-md-10">
                    <button pButton pRipple type="button" label="Login" class="p-button-rounded" (click)="login()"></button>
                  </div>
                </div>
                <div class="p-field p-grid">

                  <div class="p-col-12 p-md-10">
                    <button pButton pRipple type="button" label="Registrarse" class="p-button-rounded" routerLink="../register"></button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<p-dialog header="Credenciales Incorrectas" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p class="p-m-0">Usuario y/o contraseña incorrectos</p>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
