<div class="p-text-bold p-text-center" style="font-size:30px;">BIENVENIDO A TU CURSO</div>

<p-card header={{item.nombre}} [style]="{'width': '25rem', 'margin-bottom': '2em'}" *ngFor="let item of capitulos">
  <p>{{item.descripcion}}</p>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Contenido" class="p-button-rounded" (click)="contenido(item.id)"></button>
</ng-template>
</p-card>


<p-dialog header="Contenido" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <p-fieldset legend={{item.id}} *ngFor="let item of contenidos">
      <p>{{item.contenido}}</p>
      <br>
      <span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{item.tipo}}</span>
      <br>
      <br>
      <a href={{item.url}} target="_blank">Archivos De Apoyo</a>
  </p-fieldset>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
